body {
    background-color: #497199;
    background-image: url(./assets/background3.jpg);
    background-blend-mode: multiply ;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    font-family: cursive;
    font-size: 14px;
    font-weight: bold;
}

#top {
    background-image: url("./assets/logo.png"), url("https://i.pinimg.com/originals/b6/2f/48/b62f489487475a41bc35ed47e7ef6c30.jpg");
    /* height: 275, 400px;
    width: 250, 100%; */
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    line-height: 350px;
    background-position: center, center;
    background-size: 275px 300px, cover;
    font-family: 'Luminari', fantasy;
    font-size: 55px;
    -webkit-text-stroke: .01px white;
    border: 1px solid white; 
    margin-left: 2.5%;
    margin-right: 2.5%;   
}

#title-text {
    height: 400px;
    width: 100%;
}

hr {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#fav-characters {
    background-color: #34373b;
    margin: auto;
    border: 1px white solid;
    opacity: .80;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1326px;
    flex-wrap: wrap;
    font-size: 20;
}
#new-fav {
  background-color: #212326;
  border: 1px white solid;
}

#generate-box {
    background-color: #34506e;
    float: left;
    width: 67.5%;
    height: 400px;
    text-align: center;
    margin-left: 2.4%;
    border-left: 1px white solid;
    border-top: 1px white solid;
    border-bottom:1px white solid;
    opacity: .80;
}

#blank {
    font-size: 7px;
}

#dice-bar {
    background-color: #34373b;
    float:right;
    width: 27.5%;
    height: 400px;
    text-align: center;
    margin-right: 2.4%;
    border-right: 1px white solid;
    border-top: 1px white solid;
    border-bottom:1px white solid;
    opacity: .80;
    font-family: 'Luminari', fantasy;
 }

 #column-one {
    width: 45%;
    float: left;
    margin-left: 5%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
 }

 #column-two {
    width: 45%;
    float: right;
    margin-right: 5%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
 }

 #column-three {
    width: 33%;
    height: 50%;
    float: right;
    align-items: top;
 }

 #column-four {
    width: 33%;
    height: 50%;
    float: right;
    align-items: top;
 }

 #npc-portrait-box {
    width: 33%;
    float: left;
    height: 15%;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    margin-bottom: 25%;
    position: relative;
    margin-top: 5%;
 }

 #new-fav-img {
    height: 100px;
    width: 100px;
 }

 #new-fav-txt {
    color:white
 }

 #npc-portrait {
    width: 200px;
    height: 200px;
    position:absolute;
    /* bottom:0;
    margin-bottom: 25%; */
    z-index: -1;
 }

 .gen-box {
    background-color: #542e23;
    margin: auto;
    border: white solid 1px;
    height: 50%;
    color: white;
 }

 #frame {
    width: 200px;
    height: 200px;
 }

 #trait-box {
    height: 24.6%;
    width: 65.8%;
    float: right;
    align-items: top;
 }

 #desire-box {
    height: 24.6%;
    width: 65.8%;
    float: right;
    align-items: top;
 }

 .container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(2px 2px 0 white)
    drop-shadow(-2px -2px 0 white);
    filter: drop-shadow(2px 2px 0 white)
    drop-shadow(-2px -2px 0 white);
 }

 .top {
    position: absolute;
    top: 45%;
    margin-top: 5%;
 } 

 .bottom {
    position: absolute;
    bottom: 45%;
    margin-bottom: 5%;
 }

#credit-box {
    background-color: #46494d;
    margin-left: 38%;
    margin-right: 38%;
    opacity: 80%;
}

#credits {
    color: darkgray;
    text-align: center;
    line-height: 50px;
}

#logo {
    opacity: 75%;
    width: 250px;
    height: 275px;
}

#generate-btn {
    color: white;
    background-color: #34373b;
    font-family: 'Luminari', fantasy;
    align-items: bottom;
    height: 10%;
    float: left;
    margin-left:6%;
    margin-bottom: 20%;
}

.info {
    background-color: #33170f;
    font-family: 'Luminari', fantasy;
    font-size: 22px;
    color: black;
    -webkit-text-stroke: .01px white;
    border: .5px solid white;
    height:25%;

}

#fav-btn {
    color: white;
    background-color: #34373b;
    font-family: 'Luminari', fantasy;
    align-items: bottom;
    height:10%;
    float: left;
    margin-left: 5%;
    margin-bottom: 20%;
}